<section id="main" class="clearfix published-page">
	<div class="container">
		<div class="row text-center">				
			<div class="col-sm-6 col-sm-offset-3">
				<div class="congratulations">
					<i class="fa fa-check-square-o"></i>
					<h2>Congratulations!</h2>
					<h4>Your Venue will publish be soon, Check your email address for confirmation link.</h4>
					<p><%= link_to "Go Home", root_path, class: "btn btn-sm btn-success" %></p>
				</div>
			</div>
		</div><!-- row -->	
	</div><!-- container -->
</section>