<div class="page-header">
	<div class="container">
  	<h1>Search</h1>
  </div>
</div>
<div class="main-container">
	
	<div class="container">
		<div class="row">
			<div class="" style="background-color:#fff;padding:30px;border-radius:5px">
				<% @venues.each_with_index do |venue, index | %>
					<div class="col-sm-3">
						<%= render 'shared/venue_box', venue:venue %>
					</div>
				<% end %>
			</div>
		</div>
	</div>

</div>